version: "3.8"

services:
  harito-mcp:
    container_name: harito-mcp
    build: .
    ports:
      - "3000:3000"
    environment:
      - PORT=3000
      - NODE_ENV=production

    restart: unless-stopped
